<div class="card">
  <div class="card-header bg-dark">
    <h3 class="card-title text-white">
      <i class="far far-image"></i>Upload and image
    </h3>

    <div class="card-body">

    </div>
  </div>
</div>