{{#if sidebar.comments}}
  <div class="carg mt-2">
  <div class="card-header bg-dark text-white">
    <h5><i class="fas fa-comment"></i> Lastest Comments</h5>
  </div>
  <div class="card-body">
    {{#each sidebar.comments}}
      <div class="row">
        <div class="col">
          <a href="/images/{{image.uniqueId}}">
            <img src="">
          </a>

        </div>
        <div class="col">

        </div>
      </div>

    {{/each}}
  </div>
</div>
{{/if}}


